:root, html, body {
  background-color: #000 !important;
  color: #ccc !important;
}

* {
  background-color: #001 !important;
  color: inherit !important;
}

a, span, ul {
  color: green !important;
}
